!!!
html(lang='en')
  head
    title About Express 
    link(rel='stylesheet', href='/styles/style.css')
  body
    #wrap
      h1 About Express and how it works with Nodejs 
      p
        | Jade is the HTML template engine at work here 
        | Stylus heads up the CSS
        | Oh that just rocks my world
      h2 Jade and Stylus making HTML and CSS that much better
      ul
        li
          p
            | Jade
        li
          p
            | Express
        li
          p
            | Node
       h2 Tony Brown is a Boston Based web developer.
      P
        | I love working with emerging techs
        | Node has captured my imagination from day one
      p
        | Developing with technologies like node has changed the way I think
        | about development
  footer
    p
      | This combination rocks my dev world!
    p No Doubt about it
    p The most fun framework for Node.
