doctype5
html
  head
    title Welcome to Jade
    link(rel='stylesheet', href='styles/style.css')
  body
    #wrap
      h1 Jade and Express
      h2 Welcome to the site
      p
        | Working together to make your life easier
        | and if you're like me, that's perfect
      h2 What can I say or do

      p
        | There's no turning back now that it's through
      p 
        | I realized too late, now there's no retake of what it takes

      h3 Dokken: breaking the chains
    footer
      h3 footer stuff here
      p
        | Copyright 2013 &copy; Tony Brown Developer
