!!!
html(lang='en')
  head
    title Home Page Blues 
    link(rel='stylesheet', href='styles/style.css')
  body
    #wrap
      h1 Welcome to the Express site
      p
        | Jade is the HTML template engine at work here 
        | Stylus heads up the CSS
        | Oh that just rocks my world
      h2 Jade and Stylus making HTML and CSS that much better
      ul
        li
          p
            | Jade
        li
          p
            | Express
        li
          p
            | Node
      h2 Modern web development with Nodejs and Express.
     
      p
        | This combination rocks my dev world!
      p No Doubt about it
      p The most fun framework for Node.
    footer
      p
        | Copyright 2013 &copy; Tony Brown Developer
