!!!
html(lang='en')
  head
    title With Header and Sections
    link(rel='stylesheet', href='styles/style.css')
  body
    #wrap
      h1 More, we want
      p
        | More is always better when it's node development with Express
        | Can I say anymore good things about Jade
      h2 Express with Jade template engine rocks!
      ul
        li
          p
            | Jade
        li
          p
            | Express
        li
          p
            | Node
      h2 Modern web development with Nodejs and Express.
     
      p
        | This combination rocks my dev world!
      p No Doubt about it
      p  The most fun framework for Node.

    footer
      p
        | Copyright 2013 &copy; Tony Brown Developer
